@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.poppins-regular,
body {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
}

.custom-select,
.custom-button {
    width: 100% !important;
    height: 48px;
    padding: 5px 10px !important;
    border: 1px solid #e8e8e8;
    border-radius: 4px !important;
}

select:focus {
    background-color: #ffffff;
    border-color: #0055ff;
}

option:checked {
    background-color: #ffffff !important;
    border-color: #002570;
    color: rgb(127, 127, 127) !important;
}

.custom-button,
.custom-button:hover {
    font-size: 14px !important;
    margin-right: 4px !important;
    border-radius: 6px !important;
    height: 36px !important;
    max-width: 100px !important;
}

.bor-10 {
    border-radius: 10px !important;
}

.bor-15 {
    border-radius: 15px !important;
}

.overflow-h {
    overflow: hidden !important;
}

.bg-light-grey {
    background-color: #F3F3F3;
}

.bg-btn-custom-danger {
    width: 44px !important;
    height: 44px !important;
    background: #fcd8d8;
    border-radius: 50px !important;
}

.bg-btn-custom-danger:hover {
    background: #ffe1e1;
}

.mt-nc1 {
    margin-top: -2px !important;
}

.bg-light-red {
    background: #fae1e1 !important;
    color: rgb(156, 0, 0) !important;
    border: none;
    transition: 0.3s all ease-in-out !important;
}

.bg-light-green {
    background: #d2e9d3 !important;
    color: rgb(0, 102, 39) !important;
    border: none;
    transition: 0.3s all ease-in-out !important;
}

.add-btn-custom {
    background: #6e78ff !important;
    border: none !important;
    box-shadow: none !important;
    transition: 0.3s all ease-in-out !important;
}

.bg-light-red:hover {
    background: rgb(156, 0, 0) !important;
    color: rgb(255, 255, 255) !important;
}

.bg-light-green:hover {
    background: rgb(0, 102, 39) !important;
    color: rgb(255, 255, 255) !important;
}

.bg-light-blue:hover {
    background: #6e78ff !important;
    color: rgb(255, 255, 255) !important;
}

/*Font Mesures*/
.f-10 {
    font-size: 10px !important;
}

.f-12 {
    font-size: 12px !important;
}

.f-14 {
    font-size: 14px !important;
}

.f-16 {
    font-size: 16px !important;
}

.f-18 {
    font-size: 18px !important;
}


.show-popup {
    padding: 18px 40px;
    background: #6e78ff;
    border: none;
    outline: none;
    border-radius: 10px !important;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 18px;
    color: #f2f2f2;
    font-weight: 500;
    transition: 0.3s all !important;
}

.d-fixed {
    background: rgba(0, 0, 0, .3);
    position: fixed;
    inset: 0;
    height: auto;
    width: 100% !important;
    z-index: 1000;
}

.popup-container {
    position: fixed !important;
    /* min-width: 100vh !important; */
    background: rgba(0, 0, 0, .3);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: 0.3s all !important;
}

.popup-container.active {
    opacity: 1;
    pointer-events: auto;
    transition: .4s ease;
}

.popup-container .popup-box {
    width: 900px;
    background: #f2f2f2;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    padding: 30px;
    transform: scale(0);
}

.popup-container.active .popup-box {
    transform: scale(1);
    transition: .4s ease;
    transition-delay: .25s;
}

.popup-box h1 {
    color: #333;
    line-height: 1;
}

.popup-box p {
    color: #333;
    margin: 12px 0 20px;
}

.popup-box .close-btn {
    width: 100%;
    height: 45px;
    background: #6e78ff;
    border-radius: 6px;
    border: none;
    outline: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 18px;
    color: #f2f2f2;
    font-weight: 500;
}

/*set Popup*/
.p-absolute {
    position: absolute !important;
    inset: 0;
    height: 100% !important;
    transition: 0.3s all !important;
}

.popup-box>div:nth-child(2)>img {
    max-height: 700px !important;
}

.make-me-sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}